<div class="container">
     <h1 class="jumbotron">
       About Me
     </h1>
     <div class="row">
       <div class="col-md-7">
         <a href="#">
           <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/500x300" alt="">
         </a>
       </div>
       <div class="col-md-5">
         <p>Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi bibendum cursus purus ac feugiat. Vestibulum viverra lectus non nunc consequat lobortis. Donec vel neque ac est rutrum mollis. Sed ac orci nunc. Cras nisi arcu, lacinia vitae suscipit hendrerit, accumsan in elit. Aliquam vitae pretium massa. Mauris gravida urna vitae ipsum tristique, eget pellentesque justo gravida. Suspendisse potenti. Phasellus pellentesque nunc mauris, ac volutpat sem ullamcorper ac. Ut sagittis libero euismod enim imperdiet ullamcorper. Pellentesque ultrices nisl ut felis ullamcorper, eu dictum sem pretium. Nullam condimentum erat et justo euismod, eget consequat nisi pharetra. Fusce rutrum cursus pharetra.</p>
       </div>
     </div>

   <footer class="py-5 bg-dark" id="about-footer">
     <div class="container">
       <p class="m-0 text-center text-white">Copyright &copy; Alpha Blog 2018</p>
     </div>
   </footer>
